body {
  font-family: 'Transitional', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Transitional', sans-serif;
  font-weight: 600;
}

