/* Example: professional CV font */
body {
    font-family: "Georgia", "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

